<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise2_B11.Properties.Settings.daftar_bimbel_baruConnectionString"
            connectionString="Data Source=CHLUNIDIA;Initial Catalog=daftar_bimbel_baru;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>